@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(./vendor/fonts/inter/Inter-Regular.woff2) format("woff2"),
    url(./vendor/fonts/inter/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url(./vendor/fonts/inter/Inter-Medium.woff2) format("woff2"),
    url(./vendor/fonts/inter/Inter-Medium.woff) format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url(./vendor/fonts/inter/Inter-Black.woff2) format("woff2"),
    url(./vendor/fonts/inter/Inter-Black.woff) format("woff");
}

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color:#000000;
  margin: 0 auto;
  padding: 0;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  max-width: 1280px;
}

.header {
  margin: 0 auto 40px;
  padding: 45px 0 0 0;
  height: 74px;
  max-width: 880px;
  border-bottom: 2px solid rgba(54, 54, 54, 0.7);
  width: calc(100% - 2 * 50px);
}

@media screen and (max-width: 480px) {
  .header  {
    padding-top: 28px;
    margin-bottom: 42px;
    height: 56px;
    width: 100%;
  }
}

.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 480px) {
  .header__logo  {
    width: 103.74px;
    height: 24.4px;
    padding-left: 27px;
  }
}


.profile {
  display: flex;
  margin: 0 auto;
  max-width: 880px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100% - 2 * 50px);
}


@media screen and (max-width: 768px) {
  .profile  {
    flex-direction: column;
    row-gap: 26px;
  }
}


@media screen and (max-width: 480px) {
  .profile  {
    width: calc(100% - 2*19px);
    justify-content: center;
  }
}


.profile__avatar {
  border-radius: 120px;
  width: 120px;
  height: 120px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 16px;
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .profile__info  {
    padding: 0;
    max-width: calc(100% - 50px)
  }
}

@media screen and (max-width: 480px) {
  .profile__info  {
    row-gap: 7px;
    margin-bottom: 11px;
  }
}

.profile__info-user {
  display: flex;
  align-items: baseline;
  column-gap: 18px;
}

@media screen and (max-width: 480px) {
  .profile__info-user  {
    min-width: 220px;
    column-gap: 12px;
    padding-left: 19px;
    align-items: center;
  }
}

.profile__name {
 margin: 0;
 padding: 0;
 font-weight: 500;
 font-size: 42px;
 line-height: 94%;
 text-overflow: ellipsis;
 white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .profile__name  {
    font-size: 42px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 480px) {
  .profile__name  {
    font-size: 27px;
  }
}

.profile__hobby {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__hobby  {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .profile__hobby  {
    font-size: 14px;
  }
}

.profile__button {
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}

.profile__button_type_edit {
  background-image: url(/images/pen.svg);
  background-size: 42% 42%;
  height: 24px;
  width: 24px;
  transition: 0.3s ease-in;
}

.profile__button_type_edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .profile__button_type_edit  {
    height: 18px;
    width: 18px;
  }
}

.profile__button_type_add {
  background-image: url(/images/Vector\ add.svg);
  background-size: 22px 22px;
  width: 150px;
  height: 50px;
  transition: 0.3s ease-in;
  border: 2px solid #ffffff;
}

.profile__button_type_add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .profile__button_type_add  {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .profile__button_type_add {
    background-size: 16px 16px;
  }
}

.cards {
  margin: 50px auto 66px;
  max-width: 880px;
  display: grid;
  gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  width: calc(100% - 2 * 50px);
}

@media screen and (max-width: 480px) {
  .cards  {
    width: calc(100% - 2*19px);
    margin-top: 36px;
    margin-bottom: 48px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 361px;

}

.card__info {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 80px;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 0 21px;
}

.card__image {
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__title {
  margin: 0;
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(/images/head.svg);
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  height: 19px;
  transition: 0.3s ease-in;
  width: 22px;
}

.card__like-button:hover {
  opacity: 0.5;
}

.footer {
  max-width: 880px;
  margin: 0 auto 60px;
  width: calc(100% - 2 * 50px);
}

@media screen and (max-width: 480px) {
  .footer  {
    margin-bottom: 36px;
    width: calc(100% - 2*19px);
  }
}


.footer__text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #545454;
}

@media screen and (max-width: 480px) {
  .footer__text  {
    font-size: 14px;
  }
}