.header {
  margin: 0 auto 37px;
  padding: 45px 0 41px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: calc(100% - 2 * 50px);
}

@media screen and (max-width: 480px) {
  .header {
    margin-bottom: 44px;
    width: 100%;
    padding: 28px 0 26px;
  }
}