.profile__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 12px;
  max-width: calc(100% - 330px);
}

@media screen and (max-width: 768px) {
  .profile__info {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .profile__info {
    row-gap: 7px;
    margin-bottom: 7px;
  }
}